body {
    font-size: 60%;
    margin: 0px;
    padding: 0px;
    background: #2c2c2c;
    font-family: 'Be Vietnam Pro', 'Courier New', Courier, monospace;
}


/* Dédut du header */

header {
    /* garde le header toujours en haut de page et audessus des autres éléments */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    background: rgb(100, 148, 251, 0.8);
    /* couleur avec une opacité de 0.8 */
    height: 66px;
    line-height: 66px;
    /* hauteur de ligne */
}

.inner {
    /* réduit sa taille pour espacer automatiquement même avec des élements en float */
    width: 95%;
    margin: auto;
    justify-content: space-between;
    display: flex;
}

.m-left {
    /* place à gauche */
    margin-top: 6px;
}

.m-right {
    /* place à droite */
    margin: 0;
    padding: 0;
    display: flex;
}

.blanc {
    text-decoration: none;
    color: white;
    font-size: x-large;
}

.Note-Title {
    margin: 0;
    padding: 0;
}

#logo-cache {
    visibility: hidden;
    position: relative;
}


/* Fin du header */


/*  Debut animation bouton valider */

button,
button::after {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

button {
    background: none;
    border: 3px solid #fff;
    color: #fff;
    display: block;
    font-size: 1.6em;
    font-weight: bold;
    margin: 10px auto;
    padding: 2em 6em;
    position: relative;
    text-transform: uppercase;
}

button::before,
button::after {
    background: #fff;
    content: '';
    position: absolute;
    z-index: -1;
}

button:hover {
    color: #2c2c2c;    
    background-color: white;

}

.button1::after {
    height: 103%;
    left: -1%;
    top: -1%;
    width: 1%;
}

.button1:hover:after {
    width: 100%;
    background-color: transparent;
}


/*position des boutons*/

.TextUp {
    margin-top: 50px;
}

.container {
    margin: 35px;
    margin-top: 100px;
}


/*Fin de position des boutons*/


/* Fin annimation bouton valider */


/*bouton upload*/

.imageUpload>button>input {
    display: none;
    align-items: center;
    justify-content: center;
}

.boutonV {
    margin-top: 150px;
}


/* Fin bouton upload */


/* Footer*/

.center {
    text-decoration: none;
    justify-content: space-between;
    color: #707070;
    width: 95%;
    display: flex;
    bottom: 0;
    position: relative;
    margin: auto;
    padding-top: 70px;
    font-size: small;
}

.linkedin {
    text-decoration: none;
    color: #707070;
}


/*Fin du footer*/